* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background-color: #010b13;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-content {
  display: flex;
  flex-direction: column;
  text-align: center;

  margin-bottom: 20px;
}

.flex-box {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

.content {
  background-color: #fe5a1d;
  height: 100px;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  border-radius: 1rem;

  cursor: pointer;
  transition: all 0.4s;
}

.content:hover {
  background-color: #ff8f00;
}

a {
  color: #fff;
  text-decoration: none;
}
