* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #1b1b1b;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

form {
  background-color: #fff;
  width: 30%;
  height: 400px;
  padding: 1rem;

  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  margin-bottom: 5%;
}

.input-box {
  width: 85%;

  display: flex;
  justify-content: space-between;

  margin-bottom: 10px;
}

/* Survey */
.survey-input-box {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-bottom: 10px;
}

.survey-question-1 {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
}

.checkbox-box {
  display: flex;
  gap: 10px;
}

/* End Survey */

.submit-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit {
  width: 120px;
  padding: 10px 16px;

  background-color: #1b1b1b;
  color: #fff;

  border-radius: 8px;
  border: none;

  margin-top: 15px;
  cursor: pointer;

  transition: all 0.3s;
}

.submit:hover {
  background-color: #ff4f00;
}
